{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block content %}
	{% include 'frag/adminSite.frag.html.twig' %}
	{#template de la navbar #}
	
{#<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/gsibaud/Documents/e_commerce_symfonyGaëlle/e_commerce_symfonyGaëlle_projetAlterance/src/Controller/CategoryController.php'|file_link(0) }}">src/Controller/CategoryController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/gsibaud/Documents/e_commerce_symfonyGaëlle/e_commerce_symfonyGaëlle_projetAlterance/templates/category/index.html.twig'|file_link(0) }}">templates/category/index.html.twig</a></code></li>
    </ul>
</div>#}
<div class="container mt-4">
    {# mt-4 : permet de faire un margin #}
		<h1>
			categories:
		</h1>
<a href="{{path('app_category.new')}}"class="btn btn-primary">
			Créer une catégorie
		</a>

		{# source : https://symfony.com/doc/current/session.html#session-intro #}
		{# regarder ensuite flash message #}
		{# read and display just one flash message type #}
		{#{% for message in app.flashes('notice') %}
							<div class="flash-notice">
								{{ message }}
							</div>
						{% endfor %}#}

		{# source : https://getbootstrap.com/docs/4.0/components/alerts/ #}
		{# <div class="alert alert-success" role="alert">
		  This is a success alert—check it out!
		</div> #}


		{# read and display just one flash message type #}
			{% for message in app.flashes('success') %}
				<div class=" alert alert-success">
				 {{ message }}
				</div>
			{% endfor %}


        <div class="count">
           <h5> Il y a  {{categories.getTotalItemCount}} categories au total </h5>
           
        </div>

		<table class=" table table-sm table-info ">
			<thead>
				<tr>
					<th scope="col">Numero</th>
					<th scope="col">NameCategory</th>
					<th scope="col">CategoryImages</th>
					<th scope="col">Modifier</th>
					<th scope="col">Supprimer</th>
					<th scope="col">Lire</th>

					
				</tr>
			</thead>

            
			<tbody>
				{% for category in categories %}
					<tr class="table-info">
						<td class="table-info">{{category.ID}}</td>
						<td class="table-info">{{category.NameCategory}}</td>
						<td class="table-info">{{category.CategoryImages}}</td>
						<td class="table-info">
							<a href="{{path('app_category.edit', {'id': category.id})}}" class="btn btn-info">
								Modifier
							</a>
						</td>
						<td class="table-info">
							<a href="{{path('app_category.delete', {'id': category.id})}}" class="btn btn-warning" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">
								Supprimer
							</a>
							
						</td>
						<td class="table-info">
							{% if app.request.attributes.get('_route') != 'app_category.show' %}
								<a href="{{ path('app_category.show', {id: category.id}) }}" class="btn btn-info">lire</a>
							{% endif %}


						</td>
						
						
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# display navigation #}
		<div class="navigation d-flex  justify-content-center p-3 mb-2 bg-info text-white ">
			{{ knp_pagination_render(categories) }}
		</div>


	</div>
{% endblock %}
