{# templates/user/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur {% endblock %}

{% block content %}
    {% include 'frag/adminSite.frag.html.twig' %}
    {#template de la navbar #}
    <h1>Détails de l'utilisateur</h1>

    <p><strong>ID :</strong> {{ user.ID }}</p>
    <p><strong>Nom :</strong> {{ user.lastName }}</p>
    <p><strong>Prénom :</strong> {{ user.firstName }}</p>
    <p><strong>Téléphone:</strong> {{ user.phoneNumber }}</p>
    {# <p><strong>Rôle :</strong> {{ user.role }}</p> #}

    <!-- Ajoutez d'autres champs ici en fonction des propriétés de votre entité User -->

    <!-- Informations de credential -->
    {% if credential is not null %}
        <p><strong>ID de credential :</strong> {{credential.getId()}} </p>
        <p><strong>Nom d'utilisateur :</strong> {{ credential.getUserName is not null ? credential.getUserName : '' }}</p>
        <p><strong>Email :</strong> {{ credential.getuserEmail is not null ? credential.getuserEmail : '' }}</p>
        <p><strong>Mot de passe :</strong> {{ credential.getpassword }}</p>
        
    {% else %}
        <p>No credential</p>
    {% endif %}

    <a href="{{ path('app_user.edit', {id: user.id}) }}"> Modifier</a>
    <a href="{{ path('app_user.delete', {id: user.id}) }}">Supprimer</a>
    {# <a href="{{ path('app_user.show', {id: user.id}) }}">lire</a> #}
{% endblock %}